<div class="container-fluid pt-3">
  <div class="row">
    <div class="col">
      <p class="d-inline-block">CODIGO DE SEGURIDAD:  {{codigo | displaycode:activo}}</p>
      <button (click)="cambiarActivo()" type="button" class="btn btn-primary btn-sm ml-3">Mostrar/Ocultar</button>
    </div>
    <div class="col">
      <button type="button" (click)="cambiarIdioma('es')" class="btn btn-primary float-right mr-2">Español</button>
      <button type="button" (click)="cambiarIdioma('en')" class="btn btn-primary float-right mr-2">Ingles</button>
      <button type="button" (click)="cambiarIdioma('fr')" class="btn btn-primary float-right mr-2">Frances</button>
    </div>
  </div>
</div>
<div class="container pb-5">
  <h1>Pipes <small>Angular</small></h1>
  <hr>
  <div class="row mb-5">
    <div class="col">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">Variabe</th>
          <th scope="col">Pipe</th>
          <th scope="col">Salida</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{nombre}}</td>
          <td>uppercase</td>
          <td>{{nombre | uppercase}}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>lowercase</td>
          <td>{{nombre | lowercase}}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>slice:2</td>
          <td>{{nombre | slice:2}}</td>
        </tr>
        <tr>
          <td>{{arreglo}}</td>
          <td>slice:0:2</td>
          <td>{{arreglo | slice:0:2}}</td>
        </tr>
        <tr>
          <td>{{PI}}</td>
          <td>number: '2.1-2'</td>
          <td>{{PI | number: '2.1-2'}}</td>
        </tr>
        <tr>
          <td>{{PI}}</td>
          <td>number: '.0-0'</td>
          <td>{{PI | number: '.0-0'}}</td>
        </tr>
        <tr>
          <td>{{numeroEntero}}</td>
          <td>number: '1.1-2'</td>
          <td>{{numeroEntero | number: '1.1-2'}}</td>
        </tr>
        <tr>
          <td>{{porcentaje}}</td>
          <td>percent</td>
          <td>{{porcentaje | percent}}</td>
        </tr>
        <tr>
          <td>{{porcentaje}}</td>
          <td>percent:'2.2-2'</td>
          <td>{{porcentaje | percent:'2.2-2'}}</td>
        </tr>
        <tr>
          <td>{{porcentaje}}</td>
          <td>percent:'3.0-0'</td>
          <td>{{porcentaje | percent:'3.0-0'}}</td>
        </tr>
        <tr>
          <td>{{salario}}</td>
          <td>currency:'EUR'</td>
          <td>{{salario | currency:'EUR'}}</td>
        </tr>
        <tr>
          <td>{{salario}}</td>
          <td>currency:'CARLINAS ':'symbol':'.0-0'</td>
          <td>{{salario | currency:'CARLINAS ':'symbol':'.0-0'}}</td>
        </tr>
        <tr>
          <td>{{promesa}}</td>
          <td>async</td>
          <td>{{promesa | async}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date:'short':'':'{{idioma}}'</td>
          <td>{{fecha | date:'short':'':idioma}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date:'MMMM - dd':'':'{{idioma}}'</td>
          <td>{{fecha | date:'MMMM - dd':'':idioma}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h4>Slice de un arreglo en un bucle *ngfor</h4>
  <hr>
  <div class="row mb-5">
    <div class="card col">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let item of arreglo | slice:1:3">Item: {{item}}</li>
      </ul>
    </div>
  </div>
  <h4>JSON</h4>
  <hr>
  <div class="row mb-5">
    <div class="col">
      <pre>{{servidor | json}}</pre>
    </div>
  </div>
  <h4>Mi Pipe</h4>
  <hr>
  <div class="row mb-5">
    <div class="col">
      <div class="alert alert-secondary" role="alert">
        Raiz cuadrada de {{numeroMiPipe}} sin decimales: {{numeroMiPipe | myCustomPipe:false}}
        <br>
        Raiz cuadrada de {{numeroMiPipe}} con decimales: {{numeroMiPipe | myCustomPipe}}
      </div>
    </div>
  </div>
  <h4>DomSeguro</h4>
  <hr>
  <div class="row">
    <div class="col">
      <iframe width="560" 
              height="315" 
              [src]="video | domseguro"
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen></iframe>
    </div>
  </div>
</div>
